@charset "UTF-8";
/*CSS Document*/

/**************************************************************************/
/*------------------------------   Global   ------------------------------*/
/**************************************************************************/

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    background: #eeeeee;
}

/* global class which adds roundness and some much repeating css to the circular objects */
.circular_object {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* objects before the animations */
.circular_object.pre_animation, .circular_object.pre_animation > div  {
    top: 50%!important;
    left: 50%!important;
    right: initial!important;
    bottom: initial!important;
    width: 50px!important;
    height: 50px!important;
    margin: -25px 0 0 -25px!important;
    -ms-transform-origin: center center; /* IE 9 */
    -webkit-transform-origin: center center; /* Chrome, Safari, Opera */
    transform-origin: center center;
    opacity: 0;
}

.rotate_once {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

/* keyframes for infinite rotation */

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
.rotating {
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
}
.rotating_counter_clockwise {
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
    -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
    animation-direction: reverse;
}

/**************************************************************************/
/*----------------------------   Animation   -----------------------------*/
/**************************************************************************/

#animation_container {
    width: 600px;
    height: 600px;
    left: 50%;
    top: 50%;
    margin: -300px 0 0 -300px;
    position: absolute;
}

/* container for the trio of green circles */
#animation_container .circle_trio_container {
    width: 240px;
    height: 240px;
    margin: -120px 0 0 -120px;
}

#animation_container .circle_trio_container .trio {
    width: 180px;
    height: 180px;
}

/* top left trio circle */
#animation_container .circle_trio_container .trio:nth-of-type(1) {
    background: #6fc8b5;
    top: 0;
    left: 0;
    margin: 10px 0 0 0;
}

/* bottom trio circle */
#animation_container .circle_trio_container .trio:nth-of-type(2) {
    background: #08b89e;
    top: initial;
    bottom: 0;
    margin: 0 0 0 -90px;
}

/* top right trio circle */
#animation_container .circle_trio_container .trio:nth-of-type(3) {
    background: #54bf99;
    top: 0;
    right: 0;
    left: initial;
    margin: 10px 0 0 0;
}

/* outer white circle */
#animation_container .outer_white_circle {
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    background: #fff;
}

/* small inner black */
#animation_container .inner_black_circle {
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    background: #000;
}

/* cogwheel container */
#animation_container .cogwheel_container {
    width: 380px;
    height: 380px;
    margin: -190px 0 0 -190px;
}

/* outer green circle */
#animation_container .outer_green_circle {
    width: 500px;
    height: 500px;
    margin: -250px 0 0 -250px;
    border: 30px solid #11baa1;
}

/* outer green circle */
#animation_container .dashed_ring {
    width: 580px;
    height: 580px;
    margin: -290px 0 0 -290px;
}